.background-app{
    z-index: 1;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url("../images/original/full-hd-bg.png");
    background-size: cover;
}
.bird{
    position: absolute;
    top: 250px;
    left: 150px;
    width: 38px;
    height: 26px;
    background-image: url("../images/original/bird.png");
    background-size: cover;
}
.pipe-top, .pipe-bottom{
    position: absolute;
    left: 1600px;
    width: 52px;
    background-size: cover;
}
.pipe-top{
    top: 0;
    background-image: url("../images/original/pipe-top-1.png");
    background-position: bottom;
}
.pipe-bottom{
    bottom: 100px;
    background-image: url("../images/original/pipe-bottom-1.png");
}
.foreground{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-image: url("../images/original/fg.png");
    background-size: contain;
    /* background-repeat: repeat-x; */
}
#game-app{
    position: relative;
}
.scores{
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.tutorial{
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: yellow;
    border: 3px solid orangered;
    border-radius: 20px;
}
.start-screen{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}
.start-screen .img-bg-start{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../images/original/background-watiing.jpg");
    background-size: cover;
    z-index: 1;
    opacity: 0.8;
}
.start-screen .list-button button{
    position: absolute;
    top: 45%;
    left: 45%;
    z-index: 2;
   
    font-weight: bold;
   font-size: 1em;
   letter-spacing: 0.1em;
   text-decoration: none;
   color: black;
   display: inline-block;
   padding: 10px 40px 10px 40px;
   border: 3px solid black;
   border-radius: 20px;

  background-color: #F4F200;
  background-image: #F4F200;
  background-image: -moz-linear-gradient(top, #fff 0%, #F4F200 100%); 
  background-image: -webkit-linear-gradient(top, #fff 0%,#F4F200 100%); 
  background-image: linear-gradient(to bottom, #fff 0%,#F4F200 100%); 
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 1s ease-in-out;
  transition: 1s;
}

.start-screen .list-button button:hover{
    background-position: -200%;
  box-shadow: 30px 30px 100px 5px yellow,
  -30px -30px 100px 5px yellow,
  30px -30px 100px 5px yellow,
  -30px 30px 100px 5px yellow;
}
.choose-theme-screen{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
}
.choose-theme-screen .img-choose-theme{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../images/original/background-watiing.jpg");
    background-size: cover;
    z-index: 1;
}
.choose-theme-screen .list-button button{
    position: relative;
    top: 50%;
    left: 600px;
    z-index: 2;
    
    width: 300px;
    height: 100px;
    font-weight: bold;
   font-size: 1em;
   letter-spacing: 0.1em;
   text-decoration: none;
   color: black;
   display: inline-block;
   padding: 10px 40px 10px 40px;
   border: 3px solid black;
   border-radius: 20px;
}

/* Nút back */
.button-back{
    background-image: url("../images/button/button-back.jpg");
    background-size: cover;
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 10;
    width: 100px;
    height: 100px;
    display: none;
    transition: 1s;
    border-radius: 20px;
    border: orange 5px solid;
}

.button-back:hover{
    box-shadow: 30px 30px 100px 5px yellow,
    -30px -30px 100px 5px yellow,
    30px -30px 100px 5px yellow,
    -30px 30px 100px 5px yellow;
    animation: drop 2s;
}

/* Nút pause */
.button-pause{
    background-image: url("../images/button/pause.png");
    background-size: cover;
    position: absolute;
    top: 5px;
    left: 5 px;
    z-index: 10;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    border: solid 0.5px yellowgreen;
    display: none;
}

@keyframes drop {
    0% {
        transform: scale(1, 1);
    }

    30% {
        transform: scale(1.5, 1.5);
    }

    50% {
        transform: scale(1.2, 1.2);
    }

    75% {
        transform: scale(1.5, 1.5);
    }

    100% {
        transform: scale(1, 1);

    }
}

/* Menu game */
#menu-game{
    position: fixed;
    top: 10%;
    left: 20%;
    right: 20%;
    bottom: 10%;
    background-image: url("../images/menu-game/background.jpg");
    background-size: cover;
    border: #8B4513 10px solid;
    border-radius: 20px;
    z-index: 3;
    text-align: center;
    display: none;
}
#menu-game .menu-game-button{
    padding-top: 50px;
    margin: auto;
    width: 250px;
    height: 80px;
}
#menu-game .menu-game-button p:hover{
    background-color:rgb(196, 101, 32,0.8);
    border-radius: 25px;
    border: 6px solid rgb(196, 101, 32);
    
}
#menu-game .menu-game-button p{
    font-size: 30px;
    font-family: "Segoe Script";
    color: white;

    padding-top: 10px;

    border-radius: 20px;
    border: rgb(196, 101, 32) solid 3px;
    background-color:rgb(196, 101, 32,0.5);
    transition: 0.5s;
    position: relative;
}
#menu-game .menu-game-button p:hover::before,#menu-game .menu-game-button p:hover::after{
    transition: 1s;
}
#menu-game .menu-game-button p:hover::before{
    content: "\00AB";
    color: rgb(196, 101, 32);
    font-size: 50px;
    transform: translateX(-30px);

    display: flex;
    position: absolute;
    right: -50px;
    bottom: 1px; 
    animation: arrow-right  1s infinite;
    
}
#menu-game .menu-game-button p:hover::after{
    content: "\00BB";
    color: rgb(196, 101, 32);
    font-size: 50px;
    transform: translateX(-30px);

    display: flex;
    position: absolute;
    left: -50px;
    bottom: 4px; 
    animation: arrow-left 1s infinite;
}
@keyframes arrow-left {
    0%,100%{
        transform: translateX(0);
    }
    50% {
        content: "\00BB";
        transform: translateX(-30px);
    }   
}
@keyframes arrow-right {
    0%,100%{
        transform: translateX(0);
    }
    50% {
        content: "\00AB";
        transform: translateX(30px);
    }   
}
/* Màn hình điểm số */
#scores-screen{
    position: fixed;
    top: 10%;
    left: 20%;
    right: 20%;
    bottom: 20%;
    background-image: url("../images/menu-game/background.jpg");
    background-size: cover;
    border: #8B4513 10px solid;
    border-radius: 20px;
    z-index: 3;
    text-align: center;
    display: none;
}
#scores-screen p{
    font-size: 80px;
    font-family: "Segoe Script";
    color: white;
    position: absolute;
    top: 20%;
    left: 20%;
    right: 20%;
    bottom: 20%;
}
#scores-screen p span{
    font-size: 100px;
    font-family: "Segoe Script";
    color: brown;
    position: absolute;
    top: 30%;
    left: 20%;
    right: 20%;
    bottom: 20%;
}
.scores-screen-button{
    position: absolute;
    top: 300px;
    left: 30px;
}
.scores-screen-button p{
    color: brown !important;
    background-color: rgb(196, 101, 32,0.5);
    width: 400px;
    height: 150px;
   
    border-radius: 20px;
    border: rgb(196, 101, 32) solid 3px;
    background-color:rgb(196, 101, 32,0.5);
    transition: 1s;

    background-image: -webkit-linear-gradient(30deg, rgb(196, 101, 32,0.5) 50%, transparent 50%);
    background-image: linear-gradient(30deg, rgb(196, 101, 32,0.5) 50%, transparent 50%);
    background-size: 800px;
    background-repeat: no-repeat;
    background-position: 0%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
}

.scores-screen-button p:hover {
    color: yellow !important;
    border: yellow 3px solid;
    background-position: 100%;
    color: rgb(196, 101, 32,0.5);
  }



  /* Hiệu ứng pháo hoa */
  .pyro > .before, .pyro > .after {
    position: absolute;
    width: 7px;
    height: 7px;
    pointer-events: none;
    z-index: 99999999;
    border-radius: 50%;
    box-shadow: -120px -218.66667px blue, 248px -16.66667px #00ff84, 190px 16.33333px #002bff, -113px -308.66667px #ff009d, -109px -287.66667px #ffb300, -50px -313.66667px #ff006e, 226px -31.66667px #ff4000, 180px -351.66667px #ff00d0, -12px -338.66667px #00f6ff, 220px -388.66667px #99ff00, -69px -27.66667px #ff0400, -111px -339.66667px #6200ff, 155px -237.66667px #00ddff, -152px -380.66667px #00ffd0, -50px -37.66667px #00ffdd, -95px -175.66667px #a6ff00, -88px 10.33333px #0d00ff, 112px -309.66667px #005eff, 69px -415.66667px #ff00a6, 168px -100.66667px #ff004c, -244px 24.33333px #ff6600, 97px -325.66667px #ff0066, -211px -182.66667px #00ffa2, 236px -126.66667px #b700ff, 140px -196.66667px #9000ff, 125px -175.66667px #00bbff, 118px -381.66667px #ff002f, 144px -111.66667px #ffae00, 36px -78.66667px #f600ff, -63px -196.66667px #c800ff, -218px -227.66667px #d4ff00, -134px -377.66667px #ea00ff, -36px -412.66667px #ff00d4, 209px -106.66667px #00fff2, 91px -278.66667px #000dff, -22px -191.66667px #9dff00, 139px -392.66667px #a6ff00, 56px -2.66667px #0099ff, -156px -276.66667px #ea00ff, -163px -233.66667px #00fffb, -238px -346.66667px #00ff73, 62px -363.66667px #0088ff, 244px -170.66667px #0062ff, 224px -142.66667px #b300ff, 141px -208.66667px #9000ff, 211px -285.66667px #ff6600, 181px -128.66667px #1e00ff, 90px -123.66667px #c800ff, 189px 70.33333px #00ffc8, -18px -383.66667px #00ff33, 100px -6.66667px #ff008c;
    -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards; 
    display: none;
}
  
  .pyro > .after {
    -moz-animation-delay: 1.25s, 1.25s, 1.25s;
    -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
    -o-animation-delay: 1.25s, 1.25s, 1.25s;
    -ms-animation-delay: 1.25s, 1.25s, 1.25s;
    animation-delay: 1.25s, 1.25s, 1.25s;
    -moz-animation-duration: 1.25s, 1.25s, 6.25s;
    -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
    -o-animation-duration: 1.25s, 1.25s, 6.25s;
    -ms-animation-duration: 1.25s, 1.25s, 6.25s;
    animation-duration: 1.25s, 1.25s, 6.25s; }
  
  @-webkit-keyframes bang {
    from {
      box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
  @-moz-keyframes bang {
    from {
      box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
  @-o-keyframes bang {
    from {
      box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
  @-ms-keyframes bang {
    from {
      box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
  @keyframes bang {
    from {
      box-shadow: 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white, 0 0 white; } }
  @-webkit-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0; } }
  @-moz-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0; } }
  @-o-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0; } }
  @-ms-keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0; } }
  @keyframes gravity {
    to {
      transform: translateY(200px);
      -moz-transform: translateY(200px);
      -webkit-transform: translateY(200px);
      -o-transform: translateY(200px);
      -ms-transform: translateY(200px);
      opacity: 0; } }
  @-webkit-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%; }
  
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%; }
  
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%; }
  
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%; }
  
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%; } }
  @-moz-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%; }
  
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%; }
  
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%; }
  
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%; }
  
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%; } }
  @-o-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%; }
  
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%; }
  
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%; }
  
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%; }
  
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%; } }
  @-ms-keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%; }
  
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%; }
  
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%; }
  
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%; }
  
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%; } }
  @keyframes position {
    0%, 19.9% {
      margin-top: 10%;
      margin-left: 40%; }
  
    20%, 39.9% {
      margin-top: 40%;
      margin-left: 30%; }
  
    40%, 59.9% {
      margin-top: 20%;
      margin-left: 70%; }
  
    60%, 79.9% {
      margin-top: 30%;
      margin-left: 20%; }
  
    80%, 99.9% {
      margin-top: 30%;
      margin-left: 80%; } }



